<div class="row">
    <div class="col-md-2 challenge">
        <h3>Challenge 1</h3>
        <p>Welcome!!</p>
        <p>Connect the hardware components avaliable to switch on the LED</p>
        <p>Directions:</p><p>Drag and drop the symbols in the right sequence.</p><p>Click the Validate Button when you are finished</p>
    </div>
    <div class="col-md-10">
        <battle-canvas></battle-canvas>
    </div>
    <!--<div class="col-md-offset-2 col-md-9"><p>Directions:</p><p>Drag and drop the symbols in the right sequence.</p><p>Click the Validate Button when you are finished</p></div>-->
    <div class="col-md-offset-2 col-md-9"><button id="validate" class="btn btn-lg btn-block" type="button">Validate</button></div>
</div>